* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(255,236,191);
    background: linear-gradient(90deg, #ffecbf, #72d9e9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #calculator {
        min-width: fit-content;
        min-height: fit-content;
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-gap: 12px;
        border-radius: 4px;
        padding: 12px;

        #display {
            padding: 12px;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, .35);  
            backdrop-filter: blur(20px);

            #equation {
                font-size: 18px;
                color: rgb(63, 63, 63);
                font-weight: 300;
            }

            #result {
                font-size: 24px;
                text-align: right;
            }
        }

        #buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-gap: 12px;

            button {
                background-color: rgba(255, 255, 255, .35);  
                backdrop-filter: blur(20px);
                outline: none;
                padding: 12px;
                border-radius: 12px;
                color: black;
                font-size: 18px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
            }

            button:hover {
                background-color: rgba(255, 255, 255, .50);  
            }

            button:active {
                background-color: rgba(255, 255, 255, .60);  
            }

            #clear {
                grid-column: 1/3;
            }

            #delete {
                grid-column: 3/5;
            }
        }
    }
}