* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: rgb(255,236,191);
    background: linear-gradient(90deg, rgba(255,236,191,1) 0%, rgba(255,149,251,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #calculator {
        min-width: fit-content;
        min-height: fit-content;
        display: grid;
        grid-template-rows: 1fr 3fr;
        grid-gap: 12px;
        border-radius: 4px;
        padding: 12px;

        #display {
            padding: 12px;
            border-radius: 12px;
            box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.247);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #equation {
                font-size: 18px;
                color: rgb(63, 63, 63);
                font-weight: 300;
            }

            #result {
                font-size: 24px;
                text-align: right;
            }
        }

        #buttons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-gap: 12px;

            button {
                background-color: transparent;
                outline: none;
                padding: 12px;
                border-radius: 12px;
                color: black;
                font-size: 18px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.247);
            }

            button:hover {
                box-shadow: 0 0 5px 2px rgba(85, 85, 85, 0.247);
            }

            button:active {
                box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.26);;
            }

            #clear {
                grid-column: 1/3;
            }

            #delete {
                grid-column: 3/5;
            }
        }
    }
}